snippet sub
	something
snippet p
	[[priority ${1:# of Priority}]] ${2:}
snippet n
	[[NOTE]]:
snippet subj
	...
snippet lgsi
	@teaching-GSI
snippet lr
	@reading
snippet lt
	@theory
snippet ld
	@data-science
snippet bookmark
	:bmark ${1:URL} -keyword=${2:Keyword}
